name: Deadlinks
on:
  workflow_dispatch:
  
jobs:
  deadfinder:
    runs-on: ubuntu-24.04
    steps:
    - name: Run DeadFinder
      uses: hahwul/deadfinder@24390d455d84db20b8b83556c636d86efe63e09a
      id: broken-link
      with:
        command: url
        target: https://www.hahwul.com
    
    - name: Output Handling
      run: echo ${{ steps.broken-link.outputs.output }}
